@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 50 0% 80% /* white */;
		--foreground: 229 84% 5% /* slate-950 */;
		--card: 0 0% 100% /* white */;
		--card-foreground: 229 84% 5% /* slate-950 */;
		--popover: 0 0% 100% /* white */;
		--popover-foreground: 229 84% 5% /* slate-950 */;
		--primary: 192 92% 37% /* cyan-600 */;
		--primary-foreground: 184 100% 97% /* cyan-50 */;
		--secondary: 150 81% 90% /* emerald-100 */;
		--secondary-foreground: 165 86% 17% /* emerald-900 */;
		--muted: 210 41% 97% /* slate-100 */;
		--muted-foreground: 216 17% 47% /* slate-500 */;
		--accent: 287 100% 96% /* fuchsia-100 */;
		--accent-foreground: 297 64% 29% /* fuchsia-900 */;
		--destructive: 0 85% 61% /* red-500 */;
		--destructive-foreground: 211 41% 99% /* slate-50 */;
		--border: 215 32% 92% /* slate-200 */;
		--input: 215 32% 92% /* slate-200 */;
		--ring: 192 92% 37% /* cyan-600 */;
		--radius: 0.5rem;
	}

	.dark {
		--background: 229 84% 5% /* slate-950 */;
		--foreground: 211 41% 99% /* slate-50 */;
		--card: 229 84% 5% /* slate-950 */;
		--card-foreground: 211 41% 99% /* slate-50 */;
		--popover: 229 84% 5% /* slate-950 */;
		--popover-foreground: 211 41% 99% /* slate-50 */;
		--primary: 192 92% 37% /* cyan-600 */;
		--primary-foreground: 184 100% 97% /* cyan-50 */;
		--secondary: 164 89% 20% /* emerald-800 */;
		--secondary-foreground: 152 81% 96% /* emerald-50 */;
		--muted: 218 33% 18% /* slate-800 */;
		--muted-foreground: 216 21% 66% /* slate-400 */;
		--accent: 296 71% 33% /* fuchsia-800 */;
		--accent-foreground: 290 100% 98% /* fuchsia-50 */;
		--destructive: 0 63% 31% /* red-900 */;
		--destructive-foreground: 211 41% 99% /* slate-50 */;
		--border: 218 33% 18% /* slate-800 */;
		--input: 218 33% 18% /* slate-800 */;
		--ring: 192 92% 37% /* cyan-600 */;
	}
}
main {
	@apply flex flex-col justify-center w-full h-full px-4 py-32 mx-auto mt-16 lg:pl-20 max-w-7xl rounded-t-lg;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
